.splash-screen {
    background-image: url('../../assets/travel1.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    .logo{
        margin: auto; 
        position: absolute; 
        z-index: 1;
    }
 }