<div *ngIf=showSplashScreen class="splash-screen">
    <div class="logo">
        <img src="../../assets/logo.JPG" style="height: 200px;" alt="EuroWeather logo">
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>