.city-details-container {
    position: absolute;
    width:100%;
    height:100%;
    .loader{
        top: 50%;
        position: relative;
    }
}
.table-container {
    overflow-x:auto;
    position: absolute;
    width:100%;
    height:100%;
    .city-text {
        position: absolute; top:40%;
    }
}
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 50%;
    top: 50%;
    position: absolute;
}
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.home-button {
    position: fixed;
    bottom: 5%;
    right: 10px;
}