<div class="city-details-container">
    <div *ngIf="loaderVisibility" class="d-flex justify-content-center loader">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="table-container">
        <div class="city-text"><span>
                <h2>Selected City: {{selectedCity}}</h2>
            </span></div>
        <table *ngIf="cityData" class="table table-striped table-hover">
            <thead>
                <tr>
                    <td></td>
                    <th *ngFor="let data of cityData">{{data.date | date:'EEEE, MMMM d'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Temperature (in Celsius)</th>
                    <th *ngFor="let data of cityData">{{data.temp}}</th>
                </tr>
                <tr>
                    <th>Sea Level (in hPa)
                    </th>
                    <th scope="row" *ngFor="let data of cityData">{{data.sealevel}}</th>
                </tr>
            </tbody>
        </table>
        <a *ngIf="cityData" routerLink="/home" class="home-button"><button class="btn btn-success pull-right">Back To
                CityList</button></a>
    </div>
</div>