<div class="home-container">

  <span class="city-title-card">
    <h2><u>Favourite Cities in Europe</u></h2>
  </span>
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperature (Celsius) </th>
      <td mat-cell *matCellDef="let element"> {{element.temp}} </td>
    </ng-container>
    <ng-container matColumnDef="sunrise">
      <th mat-header-cell *matHeaderCellDef> Sunrise </th>
      <td mat-cell *matCellDef="let element"> {{element.sunrise * 1000 | date:'shortTime'}} </td>
    </ng-container>
    <ng-container matColumnDef="sunset">
      <th mat-header-cell *matHeaderCellDef> Sunset </th>
      <td mat-cell *matCellDef="let element"> {{element.sunset * 1000 | date:'shortTime'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns;"
      [routerLink]="'/citydetails/'+row.id"></tr>
  </table>
</div>