.home-container {
    position: absolute;
    width:100%;
    height:100%;
    .city-title-card {
        top: 30%;
        align-content: center;
        position: absolute;
    }
}
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 50%;
    bottom: 20px;
    position: absolute;
}
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}